* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.hero {
    background-image: url("/assets/background/hero.jpg");
    background-repeat: no-repeat;
    margin-bottom: 180px;
    background-size: 100% 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(22px);
}

.header__logo {
    height: 40px;
}

.header__logo--mobile {
    display: none;
}

.header__list {
    display: flex;
    gap: 40px;
    font-size: 14px;
}

.hero__title {
    font-family: "Playfair Display", serif;
    font-size: 72px;
    margin-bottom: 16px;
    margin-top: 8px;
    font-weight: 700;
    line-height: 90px;
}

.hero__text {
    margin-top: 314px;
    margin-left: 5%;
    margin-bottom: 132px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    max-width: 1216px;
}

.hero__offering {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hero__offering::before {
    content: "";
    height: 1px;
    width: 72px;
    background: white;
    margin-right: 10px;
}

.hero__subtitle {
    margin-bottom: 32px;
    font-weight: 500;
    width: 60%;
    color: rgba(255, 255, 255, 0.8);
}

.btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 48px;
    color: white;
    background: #7F57F1;
    box-shadow: 0px 1px 2px rgba(127, 87, 241, 0.05);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.btn--find {
    width: auto;
    height: 44px;
    border-radius: 6px;
}

.btn--white{
    width: 168px;
    background-color: white;
    color: rgba(127, 87, 241, 1);
    border: 1px solid #7f57f1;
    border-radius: 6px;
    justify-self: center;
}

.find__container {
    width: 90%;
    background: white;
    border-radius: 8px;
    padding: 40px 0 30px 39px;
    margin: 0 auto 40px auto;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    max-width: 1216px;
}

.find__title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    margin-bottom: 42px;
}

.find__form {
    margin-right: 39px;
    display: grid;
    grid-template-columns: repeat(4, 253px);
    justify-content: space-between;
    gap: 5px;
}

.find__select {
    height: 44px;
    background: white;
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 14px;
    color: #667085;
}

.section {
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
}

.section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 68px;
}

.section__title {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    color: #7f57f1;
    margin-bottom: 24px;
}

.section__subtitle {
    font-size: 18px;
    color: rgba(47, 35, 79, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    line-height: 32px;
    max-width: 1100px;
}

.property__photos {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 5px;
    margin: 0 auto;
}

.property__card {
    position: relative;
    width: 384px;
    height: 265px;
}

.property__card--big {
    width: 384px;
    height: 565px;
}

.property__card:hover .property__card__overlay {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.property__card__photo {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    position: absolute;
}

.property__card__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 50px;
    opacity: 0;
    transition: opacity 1s ease-out;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 6px;
}

.property__card__overlay--big {
    padding-top: 200px;
}

.property__card__title {
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 500;
}

.property__card__subtitle {
    line-height: 22px;
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.property__card__icon {
    height: 60px;
    width: 60px;
    margin-top: 25px;
}

.property__photo-2, .property__photo-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features {
    margin: 96px auto 80px auto;
}

.features__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__cards-container {
    width: 50%;
    margin-right: 10px;
}

.features__card {
    height: 157px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    padding: 24px;
}

.features__card__title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.features__card__text {
    color: rgba(47, 35, 79, 0.5);
    line-height: 24px;
}

.features__photo {
    width: 436px;
    height: 436px;
    border-radius: 50%;
}

.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent__row {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    gap: 32px;
}

.recent__row__photo {
    width: 48%;
    height: 377px;
    border-radius: 8px;
}

.recent__card {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 377px;
    background: #f6f3ff;
    border-radius: 4px;
    margin-bottom: 32px;
    padding: 43px 42px;
    justify-content: space-between;
}

.recent__card__title {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    color: rgba(127, 87, 241, 1);
    margin-bottom: 16px;
}

.recent__card__title--black {
    color: black;
}

.recent__card__text {
    font-size: 14px;
    font-weight: 500;
    color: rgba(47, 35, 79, 0.8);
    line-height: 26px;
}

.recent__card__link {
    color: rgba(127, 87, 241, 1);
    font-weight: 700;
}

.recent__card__rent {
    font-size: 24px;
    font-weight: 600;
}

.recent__card__price {
    font-size: 42px;
    font-weight: 600;
}

.team {
    margin-top: 300px;
}

.team__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px 0 150px 0;
}

.team__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 368px;
    border-radius: 8px;
    padding-top: 15px;
}

.team__card:hover .team__social {
    opacity: 1;
}

.team__card:hover .team__photo {
    width: 216px;
    height: 216px;
    transition: all 0.25s 0.25s;
}

.team__card:hover {
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}

.team__photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team__name {
    font-size: 18px;
    font-weight: 700;
}

.team__job {
    color: rgba(47, 35, 79, 0.5);
    font-size: 14px;
    margin-top: 5px;
}

.team__social {
    opacity: 0;
}

.team__social__icon {
    margin-top: 20px;
    margin-right: 10px;
}

.client__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1216px;
    margin: 0 auto;
}

.client__card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client__testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 200px;
    gap: 8px;
    padding: 10px 30px 46px 30px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}

.client__icon {
    margin-bottom: 11px;
}

.client__testimony__title {
    font-size: 18px;
    color: #2f234f;
}

.client__testimony__text {
    font-size: 14px;
    color: rgba(47, 35, 79, 1);
    line-height: 21px;
    font-weight: 400;
}

.client__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.client__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.client__name {
    font-size: 18px;
    font-weight: 700;
    color: rgba(47, 35, 79, 0.8);
}

.client__job {
    font-size: 18px;
    color: rgba(47, 35, 79, 0.5);
}

.client__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

.client__dot {
    color: rgba(127, 87, 241, 1);
    font-size: 7px;
    margin: 10px;
}

.client__dot--full {
    color: rgba(127, 87, 241, 1);
}

.subscribe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 416px;
    overflow: hidden;
    padding: 0 5%;
    margin: 0 auto;
    background-color: #7f57f1;
}

.subscribe__left {
    width: 45%;
    height: 600px;
}

.subscribe__square {
    width: 296px;
    height: 296px;
    box-shadow: 9px 0px 10px rgba(22, 27, 29, 0.23);
}

.subscribe__square-1 {
    transform: translatey(-70px) rotate(16deg);
    border-left-width: 0px;
}

.subscribe__square-2 {
    transform: translate(186px, -166px) rotate(36deg);
}

.subscribe__right {
    width: 45%;
}

.subscribe__title {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    padding-top: 75px;
}

.subscribe__text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 32px;
}

.subscribe__form {
    display: flex;
    align-items: center;
    box-shadow: 2px 4px 4px rgba(5, 7, 11, 0.15);
    border-radius: 8px;
}

.subscribe__email {
    width: 70%;
    height: 56px;
    border-radius: 8px 0px 0px 8px;
    padding: 16px 24px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: rgba(47, 35, 79, 0.5);
}

.subscribe__button {
    width: 30%;
    height: 56px;
    background-color: #865cfe;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 1px 2px rgba(127, 87, 241, 0.05);
    color: white;
    cursor: pointer;
    border: none;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 5% 100px 5%;
}

.footer__left {
    width: 25%;
}

.footer__right {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 200px;
}

.footer__properties {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 30%;
}

.footer__property {
    display: flex;
    margin-top: 20px;
    width: 400px;
}

.footer__title {
    font-weight: 700;
    font-size: 20px;
    color: rgba(47, 35, 79, 1);
}

.footer__photo {
    width: 104px;
    height: 104px;
    margin-right: 10px;
    border-radius: 4px;
}

.footer__property__address,
.footer__contact__address {
    font-size: 18px;
    color: rgba(47, 35, 79, 1);
    line-height: 32px;
    font-weight: 500;
}

.footer__location {
    width: calc(100% - 104px - 10px);
}

.footer__rent {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    color: rgba(127, 87, 241, 1);
}

.grey {
    color: rgba(47, 35, 79, 0.5);
    line-height: 32px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 30%;
    padding-top: 50px;
}

@media screen and (max-width: 1271px) {
    .features__title {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .features__container {
        flex-direction: column-reverse;
    }
    .features__cards-container {
        width: 80%;
    }

    .features__photo {
        margin-bottom: 20px;
    }
    .footer {
        flex-direction: column;
    }
    .footer__right {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }

    .footer__left {
        width: 50%;
    }

}

@media screen and (max-width: 1220px) {
    .find__form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .find__title {
        margin-bottom: 20px;
    }

    .find__select {
        width: 100%;
    }

    .find__btn {
        width: 100%;
    }

    .property__card {
        width: 100%;
    }

    .property__card--big {
        width: 49%;
    }

    .property__photo-2 {
        width: 49%;
    }

    .property__photo-3 {
        flex-direction: row;
        gap: 22px;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .client__container {
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 1180px) {
    .hero__subtitle {
        width: 90%;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .team__card {
        justify-self: center;
    }
    .footer__properties, .footer__contact{
        width: 100%;
    }
}

@media screen and (max-width: 1082px) {
    .property__photos {
        justify-content: center;
    }

    .property__card--big {
        width: 60%;
    }

    .property__photo-2 {
        gap: 22px;
        width: 60%;
    }

    .property__photo-3 {
        flex-direction: column;
        width: 60%;
    }

    .subscribe__right {
        position: absolute;
        left: 10%;
        width: 80%;
    }
}


@media screen and (max-width: 1008px) {
    .property__photos {
        justify-content: center;
    }

    .property__card--big {
        width: 60%;
    }

    .property__photo-2 {
        gap: 22px;
        width: 60%;
    }

    .property__photo-3 {
        flex-direction: column;
        width: 60%;
    }

    .recent__row {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .recent__row__photo {
        margin-right: 0;
        margin-left: 0;
        width: 80%;
        border-radius: 8px 8px 0px 0px;
    }

    .recent__card{
        width: 80%;
    }

    .recent__row-2 {
        flex-direction: column-reverse;
    }

    .footer__left {
        width: 100%;
    }
}


@media screen and (max-width: 910px) {
    .property__photos {
        flex-direction: column;
        align-items: center;
    }
    .property__photo-3 {
        flex-direction: column;
        gap: 30px;
    }

    .footer__right {
        flex-direction: column;
    }
}

@media screen and (max-width: 830px) {
    .team__container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 810px) {
    .hero__text {
        margin-top: 150px;
    }
    .hero {
        margin-bottom: 90px;
    }

    .features {
        margin-top: 40px;
    }
    .features__container {
        margin-bottom: 40px;
    }
    .team {
        margin-top: 150px;
    }

    .team__container {
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 785px) {
    .hero__title {
        font-size: 60px;
    }
    .client__container {
        justify-content: center;
    }
    .subscribe__title {
        font-size: 38px;
    }
}


@media screen and (max-width: 656px) {
    .header__logo {
        display: none;
    }

    .header__logo--mobile {
        display: block;
    }

    .header__list {
        gap: 20px;
    }

    .hero__title {
        font-size: 50px;
    }

    .property__card--big {
        width: 80%;
    }

    .property__photo-2 {
        width: 80%;
    }

    .property__photo-3 {
        width: 80%;
    }

    .team__card {
        width: 230px;
    }
}

@media screen and (max-width: 600px) {
    .property__title {
        text-align: center;
    }
    .features__container {
        flex-direction: column-reverse;
    }
    .features__cards-container {
        width: 95%;
    }

    .features__photo {
        height: 300px;
        width: 300px;
    }

    .recent__card {
        width: 95%;
        padding: 13px 5px;
    }
    .recent__row__photo{
        width: 95%;
    }

    .client__text {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    section__title {
        font-size: 40px;
    }

    .section__subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 548px) {
    .hero__title {
        font-size: 40px;
    }

    .header__list {
        font-size: 12px;
        gap: 10px;
    }

    .hero__offering,
    .hero__subtitle {
        font-size: 16px;
    }

    .find__select__container {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
    }
}


@media screen and (max-width: 500px) {
    .team__container {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }
}

@media screen and (max-width: 448px) {
    .hero__title {
        font-size: 30px;
    }

    .hero__offering,
    .hero__subtitle {
        font-size: 14px;
    }

    .subscribe__title {
        font-size: 30px;
    }

    .footer__property{
        width: 100%;
    }
    .footer__property__address {
        font-size: 14px;
        width: 100%;
    }

}

@media screen and (max-width: 420px) {
    .section__title {
        font-size: 30px;
    }

    .section__subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .client__container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .hero__text {
        margin-top: 75px;
    }
    .hero {
        margin-bottom: 45px;
    }

    .features {
        margin-top: 20px;
    }
    .features__container {
        margin-bottom: 20px;
    }
    .team {
        margin-top: 120px;
    }

    .team__container {
        margin-bottom: 35px;
    }
}
