* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.hero {
    background-image: url("images/hero.jpg");
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 180px;
    background-size: 100% 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(0, 0, 0, 0.15);
    height: 72px;
    align-items: center;
    backdrop-filter: blur(22px);
}

.wrapper {
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    width: 176px;
    height: 40px;
}

.header__logo__mobile {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 14px;
}

h1 {
    font-size: 72px;
    margin-bottom: 16px;
    margin-top: 8px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    line-height: 90px;
}

.hero__text {
    margin-top: 314px;
    margin-left: 5%;
    margin-bottom: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 32px;
}

.hero__offering {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.hero__offering::before {
    content: "";
    height: 1px;
    width: 72px;
    background: white;
    margin-right: 10px;
}

.hero__subtitle {
    margin-bottom: 32px;
    font-weight: 500;
    width: 60%;
}

.btn {
    background-color: #7f57f1;
    border-radius: 8px;
    padding-top: 12px;
    width: 143px;
    height: 48px;
    text-align: center;
}

.hero__link {
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 16px;
}

.find__container {
    width: 90%;
    height: 212px;
    background: white;
    border-radius: 8px;
    padding-top: 40px;
    padding-left: 39px;
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
}

.find__title {
    display: flex;
    gap: 12px;
    font-size: 20px;
    margin-bottom: 42px;
}

.find__select__container {
    margin-right: 39px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.find__select {
    width: 253px;
    height: 44px;
    background: white;
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 14px;
    color: #667085;
}

.find__btn {
    width: 253px;
    height: 44px;
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 0px;
}

.property {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #7f57f1;
    font-size: 48px;
    margin-bottom: 24px;
}

.property__subtitle {
    font-size: 18px;
    color: rgba(47, 35, 79, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    line-height: 32px;
}

.property__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 68px;
}

.arrow {
    height: 60px;
    width: 60px;
    margin-top: 25px;
}

.arrow__link {
    width: 60px;
    height: 20px;
}

.property__photos {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1220px;
    margin: auto;
}
.photo__left {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    position: absolute;
}

.property__photo {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    margin-bottom: 32px;
    position: absolute;
}

.property__photo-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property__photo-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property__card {
    position: relative;
    width: 384px;
    height: 265px;
}

.property__card:hover .photo__overlay {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.property__card--big {
    width: 384px;
    height: 565px;
}

.photo__overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    opacity: 0;
    transition: opacity 1s ease-out;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 6px;
    align-items: center;
}

.photo__overlay--big {
    padding-top: 200px;
}

.photo__title {
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 500;
}

.photo__subtitle {
    line-height: 22px;
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.features {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.features__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.features__title {
    font-family: "Playfair Display", serif;
}

.features__cards-container {
    width: 50%;
    margin-right: 10px;
}

.features__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    width: 100%;
    height: 157px;
    padding: 24px;
}

.features__card__title {
    font-size: 24px;
    margin-bottom: 16px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.features__card__subtitle {
    color: rgba(47, 35, 79, 0.5);
    font-size: 16px;
    line-height: 24px;
}

.features__photo {
    width: 436px;
    height: 436px;
    border-radius: 50%;
}

.design {
    width: 100%;
}

.design__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 74px;
    margin-left: 5%;
    margin-right: 5%;
}

.design__subtitle {
    color: rgba(47, 35, 79, 0.8);
    font-size: 18px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 32px;
}

.interior {
    margin-bottom: 50px;
}

.interior-1,
.interior-2 {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.interior__photo {
    width: 48%;
    height: 377px;
    border-radius: 8px;
}

.interior__photo-1 {
    margin-right: 32px;
}

.interior__photo-2 {
    margin-left: 32px;
}

.interior__text {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 377px;
    background: #f6f3ff;
    border-radius: 4px;
    margin-bottom: 32px;
    padding: 43px 42px;
    justify-content: space-between;
}

.interior__title {
    color: rgba(127, 87, 241, 1);
    font-size: 28px;
    margin-bottom: 16px;
}

.interior__title--black {
    color: black;
}

.interior__subtitle {
    font-size: 14px;
    font-weight: 500;
    color: rgba(47, 35, 79, 0.8);
    line-height: 26px;
}

.read__more {
    color: rgba(127, 87, 241, 1);
    font-weight: 700;
}

.rent {
    font-size: 24px;
    font-weight: 600;
}

.rent__price {
    font-size: 42px;
    font-weight: 600;
}

.interior__btn {
    background-color: white;
    color: rgba(127, 87, 241, 1);
    border: 1px solid #7f57f1;
    font-size: 16px;
    border-radius: 6px;
    position: absolute;
    width: 168px;
    height: 48px;
    left: calc(50% - 168px / 2);
}

.team {
    margin-top: 300px;
}

.team__title {
    text-align: center;
}

.team__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.team__subtitle {
    color: rgba(47, 35, 79, 0.8);
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    line-height: 32px;
}

.team__container {
    display: grid;
    margin: 50px 0 150px 0;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 368px;
    border-radius: 8px;
    padding-top: 15px;
}

.team__social {
    opacity: 0;
}

.social__icon {
    margin-top: 20px;
    margin-right: 10px;
}

.team__card:hover .team__social {
    opacity: 1;
}

.team__card:hover .team__photo {
    width: 216px;
    height: 216px;
    transition: all 0.25s 0.25s;
}

.team__card:hover {
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}

.team__photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team__name {
    font-size: 18px;
    font-weight: 700px;
}

.team__job {
    color: rgba(47, 35, 79, 0.5);
    font-size: 14px;
    margin-top: 5px;
}

.client__subtitle {
    font-size: 18px;
    color: rgba(47, 35, 79, 0.8);
    margin-bottom: 80px;
}

.client__container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    flex-wrap: wrap;
}

.client__card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quotes {
    width: 32px;
    height: 27px;
}

.client__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.client__testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    width: 350px;
    height: 200px;
    padding: 10px 30px 46px 30px;
    gap: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.client__testimony__title {
    font-size: 18px;
    color: #2f234f;
}

.client__testimony__subtitle {
    font-size: 14px;
    color: rgba(47, 35, 79, 1);
    line-height: 21px;
    font-weight: 400;
}

.client__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.client__name {
    font-size: 18px;
    font-weight: 700;
    color: rgba(47, 35, 79, 0.8);
}

.client__job {
    font-size: 18px;
    color: rgba(47, 35, 79, 0.5);
}

.client__dot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dot {
    color: rgba(127, 87, 241, 1);
    font-size: 7px;
    margin: 10px;
}

.dot__middle {
    color: rgba(127, 87, 241, 1);
}

.subscribe {
    background-color: #7f57f1;
    width: 100%;
    height: 416px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.subscribe__left {
    width: 45%;
    height: 600px;
}

.subscribe__square {
    width: 296px;
    height: 296px;
    box-shadow: 9px 0px 10px rgba(22, 27, 29, 0.23);
}

.subscribe__square-1 {
    transform: translatey(-70px) rotate(16deg);
    border-left-width: 0px;
}

.subscribe__square-2 {
    transform: translate(186px, -166px) rotate(36deg);
}

.subscribe__right {
    width: 45%;
}

.subscribe__title {
    color: white;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    padding-top: 75px;
}

.subscribe__subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 32px;
}

.subscribe__form {
    display: flex;
    align-items: center;
}

.subscribe__email {
    width: 70%;
    height: 56px;
    border-radius: 8px 0px 0px 8px;
    padding: 16px 24px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: rgba(47, 35, 79, 0.5);
}

.subscribe__button {
    width: 30%;
    height: 56px;
    background-color: #865cfe;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 1px 2px rgba(127, 87, 241, 0.05);
    color: white;
    cursor: pointer;
    border: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 100px 5% 100px 5%;
    flex-wrap: wrap;
}

.footer__left {
    width: 25%;
}

.footer__right {
    display: flex;
    width: 70%;
    gap: 200px;
}

.footer__properties {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 30%;
}

.footer__property {
    display: flex;
    margin-top: 20px;
    width: 400px;
}
.footer__title {
    color: rgba(47, 35, 79, 1);
    font-weight: 700;
    font-size: 20px;
}

.footer__photo {
    width: 104px;
    height: 104px;
    border-radius: 4px;
    margin-right: 10px;
}

.footer__property__address,
.footer__contact__address {
    font-size: 18px;
    color: rgba(47, 35, 79, 1);
    line-height: 32px;
    font-weight: 500;
}

.footer__location {
    width: calc(100% - 104px - 10px);
}

.footer__rent {
    color: rgba(127, 87, 241, 1);
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.grey {
    color: rgba(47, 35, 79, 0.5);
    line-height: 32px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 30%;
    padding-top: 50px;
}

@media screen and (max-width: 1271px) {
    .footer {
        flex-direction: column;
    }
    .footer__right {
        width: 100%;
        justify-content: space-between;
        gap: 0px;
        flex-wrap: wrap;
    }

    .footer__left {
        width: 50%;
    }

    .footer__properties {
        width: 100%;
    }

    .footer__contact {
        width: 100%;
    }
}

@media screen and (max-width: 1220px) {
    .find__select__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .find__title {
        margin-bottom: 20px;
    }

    .find__select {
        width: 100%;
    }

    .find__btn {
        width: 100%;
    }

    .property__card {
        width: 100%;
    }

    .property__card--big {
        width: 49%;
    }

    .property__photo-2 {
        width: 49%;
    }

    .property__photo-3 {
        flex-direction: row;
        gap: 22px;
        width: 100%;
    }
}

@media screen and (max-width: 1180px) {
    .hero__subtitle {
        width: 70%;
    }
    .team__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .team__card {
        justify-self: center;
    }

    .client__container {
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 1074px) {
    .subscribe__right {
        position: absolute;
        left: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 1050px) {
    .footer__left {
        width: 100%;
    }
}

@media screen and (max-width: 1008px) {
    .property__photos {
        justify-content: center;
    }

    .property__card--big {
        width: 60%;
    }

    .property__photo-2 {
        gap: 22px;
        width: 60%;
    }

    .property__photo-3 {
        flex-direction: column;
        width: 60%;
    }
}

@media screen and (max-width: 999px) {
    .features__container {
        flex-direction: column-reverse;
    }
    .features__cards-container {
        width: 80%;
    }

    .features__photo {
        margin-bottom: 20px;
    }

    .design__text {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .design__subtitle {
        margin-left: 20px;
        margin-right: 20px;
    }
    .interior-1,
    .interior-2 {
        flex-direction: column;
        align-items: center;
    }
    .interior__photo-1,
    .interior__photo-2 {
        margin-right: 0;
        margin-left: 0;
        width: 80%;
        border-radius: 8px 8px 0px 0px;
    }

    .interior__text {
        width: 80%;
    }

    .interior-2 {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 910px) {
    .property__photos {
        flex-direction: column;
        align-items: center;
    }
    .property__photo-3 {
        flex-direction: column;
        gap: 30px;
    }

    .footer__right {
        flex-direction: column;
    }
}

@media screen and (max-width: 830px) {
    .team__container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 785px) {
    .hero__title {
        font-size: 60px;
    }
    .client__container {
        justify-content: center;
    }
    .subscribe__title {
        font-size: 38px;
    }
}

@media screen and (max-width: 700px) {
    .hero__link {
        padding-bottom: 10px;
    }

    .hero__subtitle {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .header__list {
        gap: 20px;
    }

    .hero__title {
        font-size: 50px;
    }

    .property__card--big {
        width: 80%;
    }

    .property__photo-2 {
        width: 80%;
    }

    .property__photo-3 {
        width: 80%;
    }

    .team__card {
        width: 230px;
    }
}

@media screen and (max-width: 600px) {
    .property__title {
        text-align: center;
    }
    .features__container {
        flex-direction: column-reverse;
    }
    .features__cards-container {
        width: 95%;
    }

    .features__photo {
        height: 300px;
        width: 300px;
    }

    .interior__text {
        width: 95%;
        padding: 13px 5px;
    }
    .interior__photo-1,
    .interior__photo-2 {
        width: 95%;
    }

    .client__text {
        text-align: center;
    }
}

@media screen and (max-width: 540px) {
    .header__list {
        font-size: 12px;
        gap: 10px;
    }

    .hero__title {
        font-size: 40px;
    }

    .find__select__container {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .team__container {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }
}
@media screen and (max-width: 441px) {
    .footer__property {
        width: 350px;
    }
    .footer__property__address {
        font-size: 14px;
    }
}

@media screen and (max-width: 431px) {
    .header__logo {
        width: 120px;
    }

    .hero__title {
        font-size: 30px;
    }
    .subscribe__title {
        font-size: 30px;
    }

    .footer__property__address {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .header__logo {
        display: none;
    }

    .header__logo__mobile {
        display: block;
    }
}

@media screen and (max-width: 385px) {
    .client__container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
